html {
  font-family: Helvetica;
  text-align: center;
    }
  h1 {
    font-size: 70px;
    }
  .background {
    background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
    color: white;
    text-decoration: none;
  }
  #footer {
    text-align: left;
    background-color: dimgrey;
    color: white;
    font-size: 11px;
  }
.nav {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
