html {
  font-family: Helvetica;
  text-align: center;
    }
  h1 {
    font-size: 70px;
    }
  .background {
    background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  }
  #footer {
    text-align: left;
  }
